.hidden{
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    background: url(https://e0.pxfuel.com/wallpapers/297/842/desktop-wallpaper-mountains-best-for-background-market-aesthetic-mountain.jpg);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header h1 {
    text-align: center;
    padding: 10px;
}

header {
    background-color: rgb(255, 249, 242);
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 80px; /* Adjust this value for desired gap */
    padding: 20px; 
    
}

section {
    width: 400px;
    border: 4px solid white ;
    border-radius: 8px;
    margin: 10px;
    backdrop-filter: blur(6px);
}

section h2 {
    color: rgb(214, 209, 209);
    padding: 5px 10px;
}

section:first-of-type {
    border: 4px solid grey;
}

#inprogress {
    border: 4px solid rgb(255, 100, 100) ;
}

#done {
    border: 4px solid green;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}



.header {
    background-color: #9eaadf;
    box-shadow: 0 2px 10px rgba(104, 100, 100, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom right, #a56471, #5c68a3);
    color: #333;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #f8f9fa;
}


/* Hover for boxes */

.todo li:hover {
  background-color: #c1ad9e; 
  color: white; }

.inprogress li:hover {
  background-color:  #c91818;
  color: white; 
}

.done li:hover {
  background-color: rgb(108, 255, 108);
}

/* outside color for boxes*/

section:first-of-type {
    border: 4px solid grey;
}

#inprogress {
    border: 4px solid rgb(255, 100, 100) ;
}

#done {
    border: 4px solid green;
}

/* in case i need that 

.todo li:nth-child(odd) {
    background-color: rgb(126, 116, 104);
}

.inprogress li:nth-child(odd) {
    background-color: rgb(255, 100, 100) ;
}

.done li:nth-child(odd) {
    background-color: rgb(34, 205, 19);
} */

#todo ul li {
    border-bottom: 1px solid  grey;
    border-top: 1px solid grey;
}

#inprogress ul li {
    border-bottom: 1px solid rgb(255, 100, 100) ;
    border-top: 1px solid rgb(255, 100, 100) ;
}

#done ul li {
    border-bottom: 1px solid rgb(34, 205, 19);
    border-top: 1px solid rgb(34, 205, 19);;
}